* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@media (max-width: 800px) {
  #cookies {
    position: fixed;
    top: 20px;
    width: 100%;
    text-align: center;
  }
  #CPS {
    position: fixed;
    top: 40px;
    width: 100%;
    text-align: center;
  }
  #cookie-btn {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    transition: width 100ms;
  }
  #upgrades-btn {
    position: fixed;
    bottom: 55px;
    right: 0;
    visibility: visible;
    z-index: 1;
    width: 60px;
    height: 40px;
  }
  #settings-btn {
    position: fixed;
    bottom: 55px;
    left: 0;
    visibility: visible;
    z-index: 1;
    width: 60px;
    height: 40px;
  }
  #cookie-main {
    background-color: rgb(204, 137, 49);
    position: fixed;
    width: 100%;
    height: 100%;
    visibility: visible;
  }
  #upgrades {
    background-color: rgb(67, 204, 74);
    padding: 5px;
    position: fixed;
    width: 100%;
    height: 100%;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  #settings {
    background-color: rgb(57, 204, 230);
    padding: 5px;
    position: fixed;
    width: 100%;
    height: 100%;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .shop {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .shop-btn {
    grid-row: 1/-1;
  }

  #save-btn {
    height: 40px;
  }
  #reset-btn {
    height: 40px;
  }

  #popup {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    height: 55px;
    bottom: 0;
    text-align: center;
    z-index: 1;
  }
}
@media (min-width: 800px) {
  body {
    background-color: burlywood;
  }
  #cookie-main {
    background-color: rgb(204, 137, 49);
    visibility: visible !important;
    position: fixed;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
  }
  #upgrades {
    background-color: rgb(67, 204, 74);
    visibility: visible !important;
    position: fixed;
    width: 50%;
    height: 100%;
    top: 0;
    right: 0;
  }
  #settings {
    background-color: rgb(57, 204, 230);
    visibility: visible !important;
    position: fixed;
    width: 100%;
    height: 55px;
    bottom: 0;
    left: 0;
  }
  #popup {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 500px;
    height: 55px;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1;
  }

  #cookies {
    position: absolute;
    top: 20px;
    width: 100%;
    text-align: center;
  }
  #CPS {
    position: absolute;
    top: 40px;
    width: 100%;
    text-align: center;
  }
  #cookie-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    transition: width 100ms;
  }

  .shop {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .shop-btn {
    grid-row: 1/-1;
  }

  #save-btn {
    margin: 10px;
    width: 50px;
    height: 30px;
  }
  #reset-btn {
    margin: 10px;
    width: 50px;
    height: 30px;
  }

  #upgrades-btn {
    visibility: hidden !important;
  }
  #settings-btn {
    visibility: hidden !important;
  }
}

#cookie-btn:active {
  width: 250px;
}
